body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

#properties div {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}
img {
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
